body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

header, footer, .list-group-item {
    background-color: #57748d;
}

.row {
    height: 100%;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    font-family: inter;
}

main > .row {
    max-width: 100%;
}

main > .row > .col-lg-7 {
    background-image: url("../images/signin/dune-landscape.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-weight: 600;
}

.navbar-brand > img {
    height: 50px;
    width: 50px;
}

a {
    color: #123251;
}

a:hover {
    color: #F4F4F2;
}

a:link {
    color: #123251;
}

.sign-in {
    max-width: fit-content;
}

.sign-in > h3 {
    font-weight: 600;
    color: #123251;
}

.card {
    color: #F4F4F2;
    background-color: #768FA5;
}

.card > img {
    width: 200px;
    height: 200px;
}

.form-group > .form-control {
    color: #123251;
    padding-left: 0;
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #123251;
}

.form-group > .form-control::placeholder {
    color: #123251;
}

.form-group > .form-control:focus {
    color: #745117;
    border-color: #745117;
}

form > .main-btn {
    background-color: #745117;
    color: #F4F4F2;
}

form > .main-btn:hover {
    background-color: #768FA5;
    border-color: #F4F4F2;
    color: #F4F4F2;
}

form > .main-btn:focus {
    background-color: #123251;
    color: #F4F4F2;
}

@media screen and (max-width: 1600px) {
    main > .row > .col-lg-7 {
        background-image: url("../images/signin/dune-landscape-square.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 992px) {
    main > .row > .col-lg-1 {
        display: none;
    }

    main > .row > .col-lg-7 {
        display: none;
    }

    main > .row > .col-md-12 {
        background-image: url("../images/signin/dune-landscape-square.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sign-in > h3 {
        color: #F4F4F2;
        text-shadow: 0 0 2px #123251, 0 0 2px #123251;
    }
}
